<strong>Olá, {{ owner }}</strong>
<p>O seguinte usuário se inscreveu em seu meetup {{ meetup }}:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
  <small>
    Boa diversão a todos! <br />
  </small>
</p>